.List-table{
    border-color:#191b1b;
    margin: 50px auto;
    width: 50%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
    position: relative;
    border-radius: 10px;
    height: auto;
    display: flexbox;
    grid-template-columns: 1fr 1fr;
    border-radius: 10px 10px 10px 10px;
    position: relative;
    background: linear-gradient(90deg, rgb(79, 209, 198) 0%, rgb(128, 108, 202) 100%);
  
 }
 
 .table-striped>tbody>tr:nth-child(odd)>td,
 .table-striped>tbody>tr:nth-child(odd)>th {
     background-color: rgb(135, 149, 187);
 }

 .big-container{
    display:flex;
}

.getExpense-container{
    margin: 50px auto;
    width: 90%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
    position: relative;
    border-radius: 10px;
    height: auto;
    display: block;
    grid-template-columns: 1fr 1fr;
}

.getExpense-content{
    border-radius: 10px 10px 10px 10px;
    position: relative;
    background: linear-gradient(90deg, rgb(79, 209, 198) 0%, rgb(128, 108, 202) 100%);
  }

  .getExpense-btn {
    width: auto;
    height: 40px;
    margin-top: 40px;
    border-radius: 2px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
    background: linear-gradient(
      90deg,
      rgb(240, 243, 242) 0%,
      rgba(196, 193, 199, 0.87) 100%
    );
    outline: double;
    color: rgb(2, 4, 20);
    font-size: 1.5rem;
  }

  .getExpense-btn:hover {
    cursor: pointer;
    background: linear-gradient(
      90deg,
      rgb(63, 141, 224) 0%,
      rgb(84, 138, 233) 100%
    );
    transition: all 0.4s ease-out;
  }

  
  
  
  .getExpense-form-inputs {
    margin-bottom: 0.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    width: 30%;
    
  }
  
  .getExpense-form-item {
    display: flex;
    margin:auto;
   }
  
  .getExpense-form-label {
    display: inline-flex;
    font-size: 1.8rem;
    margin-bottom: 6px;
    color: #fff;
  }
  .getExpense-form-label-h {
    display: inline-block;
    font-size: 1.8rem;
    margin-bottom: 6px;
    color: #fff;
  }
  
  .getExpense-form-input {
    display: inline-block;
    padding-left: 8px;
    outline: none;
    border-radius: 2px;
    height: 40px;
    width: 80%;
  }
  
  .getExpense-form-input::placeholder {
    color: #595959;
    font-size: 12px;
  }